plugin/coqsimpleio.mlg
_CoqProject
src/SimpleIO.v
src/IO_Stdlib.v
src/IO_String.v
src/IO_RawChar.v
src/IO_Float.v
src/IO_Unsafe.v

.coqdeps.d
*~
*.coq.d
*.vok
*.vos
*.v.d
*.vo
*.aux
*.glob
*.a
*.o
*.cmo
*.cmx
*.cmxa
*.cmxs
*.cmi
*.ml
*.ml.d
*.mli.d
*.mlg.d
*.mlpack.d
build
_build
deps.dot
deps.jpg
Makefile.coq
Makefile.coq.conf
doc/
html/
.DS_Store
