.coqdeps.d
*~
*.coq.d
*.vok
*.vos
*.v.d
*.vo
*.aux
*.glob
*.a
*.o
*.cmo
*.cmx
*.cmxa
*.cmxs
*.cmi
*.ml
*.ml.d
plugin/coqsimpleio.mlg
*.mlg.d
*.mlpack.d
build
_build
deps.dot
deps.jpg
Makefile.coq
Makefile.coq.conf
doc/
html/
